mobile-Acme/src/main/mule/implementation-PUT-Flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="impl-put:\accounts\(accountid):application\json:mobile-accounts-eapi-config" doc:id="9d22817e-bdb1-4150-99a1-e39bb9359355" >
		<logger level="INFO" doc:name="flow start Logger" doc:id="c49d536f-8b00-400c-8b7b-c6f2971ba790" message='#["Implementation PUT Flow Started"]'/>
		<ee:transform doc:name="set variables" doc:id="8e12d1b3-d583-4c5a-af31-d7db18625fa0">
			<ee:variables>
				<ee:set-variable variableName="accountid"><![CDATA[attributes.uriParams.'accountid']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="${Request.method4}" doc:name="Request Call to ACME PAPI-PUT:/accounts/{accountid}" doc:id="c1ea47ab-8093-4020-98ef-7144cabb6916" url="https://lm-acme-accounts-papi.us-e2.cloudhub.io/api/accounts/{accountid}" config-ref="HTTP_Request_configuration">
			<http:headers><![CDATA[#[output application/java
---
{
	"correlationid" : vars.correlationid,
	"client_id" : p('secure::Request.client_id'),
	"client_secret": p('secure::Request.client_secret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	accountid : vars.accountid
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="responseMessage" doc:id="361ce928-0d62-4a26-b1ac-a9fb3e101fa5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
