mobile-Acme/src/main/mule/implementation-GET-Flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="impl-get:\accounts\(accountid):mobile-accounts-eapi-config" doc:id="7a7c163d-10a8-4910-9a22-b468bd12fe00" >
		<logger level="INFO" doc:name="flow start Logger" doc:id="9171c704-e9d9-4553-916c-5088a1d63a5e" message='#["Implementation GET Flow started"]'/>
		<ee:transform doc:name="setVariable" doc:id="52f05e2f-009a-4afa-ac99-4f7df22d9301">
			<ee:variables>
				<ee:set-variable variableName="accountid"><![CDATA[attributes.uriParams.'accountid']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="${Request.method2}" doc:name="Request call to Accounts-SFDC-SAPI-GET:/accounts/{accountid}" doc:id="68478b45-f3be-4f55-9f46-f748bccb7892" url="https://lm-accounts-sfdc-sapi1.us-e2.cloudhub.io/api/accounts/{accountid}" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"correlationid" : vars.correlationid,
	"client_id" : p('secure::Request.client_id'),
	"client_secret": p('secure::Request.client_secret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountid" : vars.accountid
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="responseMessage" doc:id="86285f44-ef7d-48bb-8644-51210444736b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
