mobile-Acme/src/main/mule/implementation-DELETE-Flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="impl-delete:\accounts\(accountid):mobile-accounts-eapi-config" doc:id="d8d561ba-efe2-4cdd-bdcf-209a9d202743" >
		<logger level="INFO" doc:name="flow start Logger" doc:id="4dbd745c-f42b-4d48-bc89-fa64a286c058" message='#["Implementation DELETE Flow Started"]'/>
		<ee:transform doc:name="setVariable" doc:id="d8e0896c-ee8f-4140-affa-d84174cd5423" >
			<ee:variables >
				<ee:set-variable variableName="accountid" ><![CDATA[attributes.uriParams.'accountid']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="${Request.method1}" doc:name="Request call to Accounts-SFDC-SAPI-DELETE:/accounts/{accountid}" doc:id="95442497-5cea-4d36-ac58-f6933e020a89" url="https://lm-accounts-sfdc-sapi1.us-e2.cloudhub.io/api/accounts/{accountid}" config-ref="HTTP_Request_configuration">
			<http:headers><![CDATA[#[output application/java
---
{
	"correlationid" : vars.correlationid,
	"client_id" : p('secure::Request.client_id'),
	"client_secret": p('secure::Request.client_secret')
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	accountid : vars.accountid
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="responseMessage" doc:id="bda5fc73-f09c-49dc-afd5-d221f3f019f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  id: "0015j00000VNSljAAH",
  status: 0,
  message: "Account deleted successfully"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
