mobile-Acme/src/main/mule/implementation-POST-Flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="impl-post:\accounts:application\json:mobile-accounts-eapi-config" doc:id="3d8a4f95-ef83-4434-99f9-6e3dc9252883" >
		<logger level="INFO" doc:name="flow start Logger" doc:id="e031026c-0fc1-4034-8a00-7616301622bb" message='#["Implementation POST Flow Started"]'/>
		<http:request method="${Request.method3}" doc:name="Request Call to ACME PAPI-POST:/accounts" doc:id="afe4e62c-812e-40e8-b66a-9a6c9492d15c" url="https://lm-acme-accounts-papi.us-e2.cloudhub.io/api/accounts" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"correlationid" : vars.correlationid,
	"client_id" : p('secure::Request.client_id'),
	"client_secret": p('secure::Request.client_secret')
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="responseMessage" doc:id="6e051bd1-41a9-4a92-b6d4-cfdb337a7cb4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
